###> JWT ###
!var/jwt
/var/jwt/*
!var/jwt/.gitkeep
###< JWT ###
###> MAIL SPOOL ###
!var/spool
/var/spool/*
!var/spool/.gitkeep
###< MAIL SPOOL ###
###> IDE ###
.idea
###< IDE ###
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
